.additionally__goods {
  font-family: Oswald, "Arial", sans-serif;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 24px;
  letter-spacing: normal;
  text-transform: none;
  text-align: left;
  color: #282828;
}

.additionally__ingredient {
  font-family: Oswald, "Arial", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 16px;
  letter-spacing: normal;
  text-transform: uppercase;
  text-align: left;
  color: #282828;
}

.additionally__packing {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 14px;
  letter-spacing: normal;
  text-transform: none;
  text-align: left;
  color: #282828;
}

.additionally__weight {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 14px;
  letter-spacing: normal;
  text-transform: none;
  text-align: left;
  color: #282828;
}

.additionally__button {
  font-family: Oswald, "Arial", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 20px;
  letter-spacing: normal;
  text-transform: uppercase;
  text-align: center;
  color: #ffff;
}
