.additionally__goods {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  text-transform: none;
  text-align: left;
  color: #282828;
}

.additionally__ingredient {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-align: left;
  color: #282828;
}

.additionally__packing {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  text-transform: none;
  text-align: left;
  color: #282828;
}

.additionally__weight {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  text-transform: none;
  text-align: left;
  color: #282828;
}

.additionally__button {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: #68b738;
  padding: 15px 110px;
}

.additionally__product {
  display: flex;
  flex-direction: column;
}

.additionally__item {
  padding: 0;
  margin-top: 20px;
}

.additionally__card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 40px;
}

.additionally__gift {
  margin-top: 60px;
}

@media (min-width: 740px) {
  .additionally__goods {
    font-size: 24px;
    line-height: 24px;
  }

  .additionally__packing {
    font-size: 16px;
    line-height: 20px;
  }

  .additionally__weight {
    font-size: 16px;
    line-height: 20px;
  }

  .additionally__ingredient {
    font-size: 20px;
    line-height: 20px;
  }

  .additionally__item {
    display: flex;
    justify-content: space-between;
  }

  .additionally__card {
    margin: 0;
    padding-top: 20px;
    width: 240px;
  }
}
