.advantages__head {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 500;
  line-height: 60px;
  text-align: left;
  color: #282828;
  margin: 0;
  margin-top: -7px;
}

.advantages__item-text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  text-align: left;
  color: #282828;
  margin: 0;
  margin-top: 2px;
  width: 200px;
}

.page-main__advantages {
  padding: 0 20px;
}

.advantages__imges {
  background-color: #68b738;
  width: 60px;
  height: 60px;
}

.advantages__item {
  display: flex;
  flex-direction: row;
  margin-top: 29px;
  justify-content: space-between;
}

.advantages__item:nth-child(2) {
  margin-top: 20px;
}

.advantages__item:nth-child(3) {
  margin-top: 17px;
}

.advantages__item:nth-child(4) {
  margin-top: 18px;
}

.advantages__list {
  padding: 0;
}

@media (min-width: 740px) {
  .advantages__head {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 60px;
    line-height: 60px;
    text-transform: none;
    text-align: left;
    color: #111111;
  }

  .advantages__item-text {
    font-family: "Arial", sans-serif;
    font-size: 16px;
    line-height: 24px;
    text-transform: none;
    text-align: left;
    color: #111111;
    margin-top: 31px;
    margin-left: -1px;
    width: 250px;
  }

  .page-main__advantages {
    padding: 0;
    margin-top: 48px;
  }

  .advantages__imges {
    width: 80px;
    height: 80px;
  }

  .advantages__item {
    flex-direction: column;
    width: 300px;
    margin-top: 0;
  }

  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 73px;
  }

  .advantages__item:nth-child(2) {
    margin-top: 0;
    margin-right: 23px;
  }


  .advantages__item:nth-child(3) {
    margin-top: 135px;
  }


  .advantages__item:nth-child(4) {
    margin-top: 135px;
    margin-right: 23px;
  }
}

@media (min-width: 1400px) {
  .page-main__advantages {
    margin-top: 50px;
  }

  .advantages__item {
    margin-top: 0;
    margin-right: 0;
    width: 250px;
  }

  .advantages__item:nth-child(2) {
    margin-top: 0;
    margin-right: 0;
    margin-left: 32px;
  }


  .advantages__item:nth-child(3) {
    margin-top: 0;
    margin-left: 30px;
  }


  .advantages__item:nth-child(4) {
    margin-top: 0;
    margin-right: 0;
    margin-left:20px;
  }

  .advantages__list {
    flex-wrap: nowrap;
  }
}
