.advantages__head {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 60px;
  letter-spacing: normal;
  text-transform: none;
  text-align: left;
  color: #282828;
}

.advantages__item-text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 18px;
  letter-spacing: normal;
  text-transform: none;
  text-align: center;
  color: #282828;
}

.page-main__advantages {
  padding: 0 20px;
}

.advantages__imges {
  background-color: #68b738;
}

.advantages__item {
  display: flex;
  flex-direction: row;
}

.advantages__list {
  padding: 0;
}

@media (min-width: 740px) {
  .advantages__head {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 60px;
    line-height: 60px;
    text-transform: none;
    text-align: left;
    color: #111111;
  }

  .advantages__item-text {
    font-family: "Arial", sans-serif;
    font-size: 16px;
    line-height: 24px;
    text-transform: none;
    text-align: left;
    color: #111111;
  }

  .page-main__advantages {
    padding: 0;
  }

  .advantages__imges {
    width: 80px;
    height: 80px;
  }

  .advantages__item {
    flex-direction: column;
    width: 250px;
  }

  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
