.catalog__title {
  font-family: Oswald, "Arial", sans-serif;
  font-size: 36px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 60px;
  letter-spacing: normal;
  text-transform: none;
  text-align: center;
  color: #282828;
}

.catalog__list {
  list-style: none;
}

.catalog__card {
  font-family: Oswald, "Arial", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 20px;
  letter-spacing: normal;
  text-transform: uppercase;
  text-align: center;
  color: #282828;
}

.list__info {
   font-family: "Arial", sans-serif;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 16px;
  letter-spacing: normal;
  text-transform: none;
  text-align: center;
  color: #282828;
}

.catalog__button {}
