.catalog__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 60px;
  text-transform: none;
  text-align: center;
  color: #282828;
  margin-top: 0;
}

.catalog__p {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: left;
  color: #282828;
  width: 75px;
}

.list__info {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  text-transform: none;
  text-align: center;
  color: #282828;
}

.catalog__button {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: #68b738;
  padding: 15px 110px;
}

.catalog__item {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.catalog__card {
  display: flex;
  flex-direction: column;
  min-width: 140px;
}

.catalog__table {
  display: flex;
  justify-content: space-between;
}

.others__button {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 13px;
  padding: 15px 93px;

  color: #444444;
  background-color: #f2f2f2;
}

.close {
  position: relative;
  left: 140px;
}

.close::after,
.close::before {
  content: "";
  position: absolute;
  height: 4px;
  width: 30px;
  background-color: #d3d3d3;
}

.close::before {
  transform: rotate(90deg);
}

.close::after {
  transform: rotate(0deg);
}

.catalog__item--last {
  padding: 25px 0 25px 0;
}

@media (min-width: 740px) {
  .catalog__title {
    font-size: 60px;
  }

  .catalog__p {
    font-size: 20px;
    text-align: center;
    min-width: 130px;
  }

  .list__info {
    font-size: 16px;
  }

  .catalog__item {
    flex-direction: column;
    width: 325px;
    margin-top: 60px;
    padding: 60px 40px 40px 40px;
    background-color: #f2f2f2;
  }

  .catalog__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .catalog__card {
    width: 170px;
  }

  .catalog__item--last {
    padding: 60px 40px 40px 40px;
    border: 1px solid #d3d3d3;
    background-color: #ffffff;
  }

  .close::after,
  .close::before {
    width: 65px;
  }

  .close {
    left: 90px;
  }
}

@media (min-width: 1400px) {
  .catalog__item {
    width: 245px;
  }

  .catalog__button {
    padding: 15px 55px;
  }

  .others__button {
    padding: 15px 60px;
    margin-bottom: 0;
  }

  .close {
    left: 50px;
  }
}
