.catalog__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 34px;
  line-height: 34px;
  text-transform: none;
  text-align: center;
  color: #282828;
  border-top: 1px solid #eeeeee;
  padding: 26px 0;
  margin: 0;
  margin-left: -20px;
}

.catalog__p {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: left;
  color: #282828;
  width: 75px;
  margin: -1px;
}

.list__info {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  text-transform: none;
  text-align: left;
  color: #282828;
  margin: 0;
}

.catalog__button {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: #68b738;
  padding: 10px 110px;
  margin-left: 19px;
  margin-bottom: -4px;
}

.catalog__item {
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px solid #eeeeee;
  padding: 24px 0;
}

.catalog__card {
  display: flex;
  flex-direction: column;
  min-width: 140px;
}

.catalog__table {
  display: flex;
  justify-content: space-between;
  margin-top: 11px;
}

.others__button {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 13px;
  padding: 15px 93px;

  color: #444444;
  background-color: #f2f2f2;
}

.close {
  position: relative;
  left: 140px;
}

.close::after,
.close::before {
  content: "";
  position: absolute;
  height: 4px;
  width: 30px;
  background-color: #d3d3d3;
}

.close::before {
  transform: rotate(90deg);
}

.close::after {
  transform: rotate(0deg);
}

.catalog__item--last {
  padding: 25px 0 25px 0;
}

.catalog__item-flex {
  display: flex;
  margin-left: 2px;
}

.catalog__item-image {
  margin-top: -23px;
  margin-left: 18px;
}

.list__info--date {
  text-align: right;
}

.catalog__list {
  margin-top: 15px;
}

@media (min-width: 740px) {
  .catalog__title {
    font-size: 56px;
    border: none;
    text-align: left;
    margin-top: 28px;
    margin-left: 1px;
  }

  .catalog__p {
    font-size: 20px;
    align-self: center;
    text-align: center;
    width: 130px;
    margin-left: 0;
    margin-top: 0;
  }

  .catalog__p--last {
    width: 140px;
    align-self: center;
  }

  .list__info {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 16px;
  }

  .catalog__item {
    position: relative;
    display: flex;
    width: 325px;
    background-color: #f2f2f2;
    padding: 132px 39px 40px;
    margin-bottom: 140px;
  }

  .catalog__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 152px;
  }

  .catalog__card {
    width: 100%;
  }

  .catalog__item--last {
    padding: 60px 40px 40px 40px;
    border: 1px solid #d3d3d3;
    background-color: #ffffff;
  }

  .close::after,
  .close::before {
    width: 65px;
  }

  .close {
    left: 90px;
  }

  .catalog__item-image {
    position: absolute;
    width: 100%;
    height: 172px;
    margin: 0;
    top: -50px;
    left: -1px;
  }

  .catalog__item-image--tablet {
    height: 210px;
    top: -86px;
    left: -2px;
  }

  .catalog__button {
    display: inline-block;
    padding: 10px 90px;
    margin: 0;
    align-self: flex-end;
    width: 100%;
  }

  .catalog__item-flex {
    width: 100%;
    margin-bottom: 25px;
    margin-top: 30px;
    margin-left: 0;
  }

  .catalog__table {
    margin-top: 28px;
  }
}

@media (min-width: 1400px) {
  .catalog__item {
    width: 245px;
    padding-left: 34px;
  }


  .catalog__title {
    margin-top: 44px;
    margin-left: -2px;
  }

  .catalog__button {
    padding: 10px 60px;
  }

  .others__button {
    padding: 15px 60px;
    margin-bottom: 0;
  }

  .close {
    left: 50px;
  }
}
