.contact__cooperation {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 20px;
  letter-spacing: normal;
  text-transform: uppercase;
  text-align: left;
  color: #282828;
}

.contact__direction {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 20px;
  letter-spacing: normal;
  text-transform: none;
  text-align: center;
  color: #282828;
}
