.copyright__link--icon {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 16px;
  letter-spacing: normal;
  text-transform: none;
  text-align: center;
  color: #282828;
}
