.example__case {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 60px;
  text-transform: none;
  text-align: left;
  color: #282828;
}

.example__boris {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: none;
  text-align: center;
  color: #282828;
}

.example__text {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  text-transform: none;
  text-align: center;
  color: #282828;
}

.example__numbers {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  color: #282828;
}

.example__price {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  margin-left:40px;
  color: #282828;
}

.example__button {
  background-color: #ffffff;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #282828;
}

.example__table {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (min-width: 740px) {
  .example__case {
    font-size: 60px;
    line-height: 60px;
  }

  .example__boris {
    font-size: 16px;
    line-height: 24px;
  }

  .example__numbers {
    font-size: 30px;
    line-height: 37px;
  }

  .example__text {
    font-size: 14px;
    line-height: 14px;
  }

  .example__price {
    font-size: 20px;;
    line-height: 20px;
    width: 200px;
    margin-top: 35px;
  }

  .example__button {
    font-size: 20px;
    line-height: 20px;
  }

  .example__table {
    flex-wrap: nowrap;
  }
}

@media (min-width: 1400px) {
  .example__price {
    margin-left: 0;
    width: 370px;
    text-align: left;
  }

  .example__table {
    flex-wrap: wrap;
    justify-content: space-around;
    width: 450px;
  }

  .example__boris {
    width: 450px;
  }

  .example__flex {
    display: flex;
  }
}
