.example__case {
  font-family: Oswald, "Arial", sans-serif;
  font-size: 36px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 60px;
  letter-spacing: normal;
  text-transform: none;
  text-align: center;
  color: #282828;
}

.example__boris {
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 18px;
  letter-spacing: normal;
  text-transform: none;
  text-align: center;
  color: #282828;
}
