.page__footer__logo {
  width: 130px;
  height: 30px;
}

.copyright__link {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: none;
  text-align: center;
  color: #282828;
}

.social__list {
  display: flex;
  justify-content: space-between;
}

.social__item {
  width: 25px;
  height: 15px;
}

@media (min-width: 740px) {
  .page__footer {
    display: flex;
  }

  .social__item {
    width: 30px;
    height: 30px;
  }
}
