.page-header {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 13px 0 21px 0;
  width: 280px;
}

.main-nav {
  width: 100%;
  display: none;
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.site-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.site-list__link {
  display: block;
  padding: 25px 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  border-top: 1px solid #e6e6e6;
  color: #111111;
}

.site-list__item:last-child {
  border-bottom: 1px solid #e6e6e6;
}

.page-header__btn-toogle {
  display: block;
  background-image: url("../img/icon-mobile-menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  width: 20px;
  height: 20px;
  margin-left: 67px;
  margin-top: 10px;
}

.page-header__checkbox {
  display: none;
}

.page-header__checkbox:checked ~ .page-header__btn-toogle {
  background-image: url("../img/icon-close.svg");
}

.page-header__checkbox:checked ~ .main-nav {
  display: block;
}

.page-header__logo-img--mobil {
  width: 190px;
  height: 50px;
}

.page-header__logo-img--tablet {
  display: none;
}

.page-header__logo-img--desktop {
  display: none;
}

@media (min-width: 740px) {
  .page-header {
    flex-direction: row;
    flex-wrap: nowrap;
    width: 780px;
  }

  .main-nav {
    margin-left: 100px;
    display: flex;
  }

  .main-nav__list {
    display: flex;
    flex-direction: row;
  }

  .site-list__link {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    border: none;
    color: #222222;
  }

  .site-list__item--line {
    border-bottom: 2px solid #68b738;
  }

  .site-list__link:last-child {
    border: none;
  }

  .site-list__item:nth-child(1),
  .site-list__item:nth-child(2) {
    margin-right: 40px;
  }

  .page-header__btn-toogle {
    display: none;
  }

  .page-header__checkbox {
    display: none;
  }

  .page-header__logo-img--tablet {
    display: block;
    height: 60px;
  }

  .page-header__logo-img--mobil {
    display: none;
  }
}

@media (min-width: 1400px) {
  .main-nav__list {
    display: flex;
    flex-direction: row;
  }

  .page-header {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 1220px;
  }

  .main-nav {
    margin-left: 300px;
  }

  .site-list__link {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 20px;
    line-height: 25px;
    text-transform: uppercase;
    text-align: center;
    color: blue;
  }

  .page-header__btn-toogle {
    display: none;
  }

  .page-header__logo-img--desktop {
    display: block;
    width: 200px;
    margin-top: 5px;
  }

  .page-header__logo-img--tablet {
    display: none;
  }
}
