.page-header {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 13px 0 21px 0;
}

.close-toogle {
  position: relative;
  left: 20px;
  width: 30px;
  height: 30px;
}

.close-toogle::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 30px;
  top: 10px;
  left: -10px;
  background-color: #d3d3d3;
  transform: rotate(-45deg);
}

.close-toogle::before {
  content: "";
  position: absolute;
  left: -10px;
  height: 4px;
  top: 10px;
  width: 30px;
  background-color: #d3d3d3;
  transform: rotate(45deg);
}

.main-nav {
  width: 100%;
}

.page-header__logo-image {
  width: 185px;
  height: 40px;
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.site-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.site-list__link {
  display: block;
  padding: 25px 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  border-top: 1px solid #e6e6e6;
  color: #111111;
}

.site-list__link:last-child {
  border-bottom: 1px solid #e6e6e6;
}

.page-header__btn-toogle {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  width: 20px;
  height: 20px;
  margin-left: 47px;
}

.page-header__checkbox {
  display: none;
}

@media (min-width: 740px) {
  .page-header {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .main-nav {
    margin-left: 100px;
  }

  .page-header__logo-image {
    width: 190px;
    height: 65px;
  }

  .main-nav__list {
    display: flex;
    flex-direction: row;
  }

  .site-list__link {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    border: none;
    color: #222222;
  }

  .site-list__item--line {
    border-bottom: 2px solid #68b738;
  }

  .site-list__link:last-child {
    border: none;
  }

  .site-list__item:nth-child(1),
  .site-list__item:nth-child(2) {
    margin-right: 40px;
  }

  .page-header__btn-toogle {
    display: none;
  }

  .page-header__checkbox {
    display: none;
  }
}

@media (min-width: 1400px) {
  .page-header__logo-image {
    width: 250px;
    height: 70px;
  }

  .main-nav__list {
    display: flex;
    flex-direction: row;
  }

  .page-header {
    display: flex;
    flex-direction: row;
    padding: 90px 0 110px 0;
  }

  .main-nav {
    margin-left: 300px;
  }

  .site-list__link {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 20px;
    line-height: 25px;
    text-transform: uppercase;
    text-align: center;
    color: blue;
  }

  .page-header__btn-toogle {
    display: none;
  }
}
