.option__title {
  font-family: Oswald, "Arial", sans-serif;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  color: #111111;
}

.option__description {
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 18px;
  letter-spacing: normal;
  text-transform: none;
  text-align: center;
  color: #282828;
}

.option__link {
  font-family: Oswald, "Arial", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 16px;
  letter-spacing: normal;
  text-transform: uppercase;
  text-align: center;
  color: #282828;
}
