.option__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  text-align: center;
  color: #111111;
  margin-top: 33px;
  margin-left: 17px;
}

.option__description {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: none;
  text-align: left;
  color: #282828;
  margin-top: 5px;
  border-bottom: 1px solid #000000;
  padding-bottom: 21px;
  margin-bottom: 0;
}

.option__link {
  display: block;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-align: left;
  color: #282828;
  padding: 25px 0;
}

.option__list {
  width: 280px;
  margin: 0 auto;
  padding: 13px 0 21px 0;
}

.list__item {
  background-color: #f2f2f2;
  margin-top: 15px;
  padding: 0 20px;
}

.list__item-flex {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.list__item-pro {
  position: absolute;
  width: 40px;
  height: 48px;
  left: 5px;
}

.option__title-pro {
  position: relative;
  width: 50px;
  height: 50px;
  background-color: #68b738;
  border-radius: 50%;
  margin-top: 27px;
  margin-left: 2px;
}

.list__item-slim {
  position: absolute;
  width: 65px;
  height: 50px;
  left: -8px;
}

.option__link-svg {
  width: 25px;
  height: 12px;
  margin-left: 12px;
}

.option__pointer {
  display: flex;
  align-items: center;
  margin-top: -6px;
}

@media (min-width: 740px) {
  .option__title {
    text-align: left;
    font-size: 34px;
    margin-left: 0;
    margin-top: 32px;
  }

  .option__description {
    font-size: 16px;
    line-height: 24px;
    border-bottom: none;
    margin: 0;
    margin-top: -9px;
    padding: 0;
    width: 63%;
  }

  .option__description--muscles {
    width: 56%;
  }

  .option__link {
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    border-top: none;
  }

  .list__item {
    margin: 0;
    margin-bottom: 29px;
    padding: 40px 55px;
  }

  .option__list {
    width: 710px;
    padding: 0;
  }

  .list__item-pro {
    width: 150px;
    height: 193px;
    left: 27px;
    top: -11px;
  }

  .list__item-slim {
    width: 268px;
    height: 134px;
    top: 33px;
    left: -34px;
  }

  .list__item-flex {
    position: relative;
  }

  .option__title-pro {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 20px;
    right: 9px;
  }

  .option__pointer {
    margin-top: 32px;
  }

  .option__link-svg {
    margin-left: 23px;
  }
}

@media (min-width: 1400px) {
  .list__item {
    padding: 40px 55px;
    width: 570px;
    margin-top: 39px;
  }

  .option__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .list__item-pro {
    width: 75px;
    height: 100px;
    left: 13px;
    top: -8px;
  }

  .list__item-slim {
    width: 134px;
    height: 60px;
    top: 19px;
    left: -18px;
  }

  .option__title-pro {
    position: relative;
    width: 100px;
    height: 100px;
    top: -19px;
    right: 7px;
  }

  .option__description {
    width: 100%;
    margin-left: -4px;
    margin-top: 22px;
  }

  .option__title {
    margin-left: 57px;
    margin-top: 37px;
  }

  .option__pointer {
    margin-top: 4px;
    margin-left: -3px;
  }
}
