.others__title {
  font-family: Oswald, "Arial", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 20px;
  letter-spacing: normal;
  text-transform: uppercase;
  text-align: center;
  color: #282828;
}

.others__info {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 16px;
  letter-spacing: normal;
  text-transform: none;
  text-align: center;
  color: #282828;
}

.others__button {
  font-family: Oswald, "Arial", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 20px;
  letter-spacing: normal;
  text-transform: uppercase;
  text-align: center;
  color: #444444;
  background-color: #f2f2f2;
}
