.others__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #282828;
}

.others__info {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  text-transform: none;
  text-align: center;
  color: #282828;
}

.others__button {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  padding: 15px 93px;
  color: #444444;
  background-color: #f2f2f2;
}
