.selection {
  background-color: #68b738;
}


.selection__button {
  text-transform: uppercase;
}

.selection__title {
  font-family: Oswald, "Arial", sans-serif;
  font-size: 36px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-transform: none;
  text-align: center;
  color: #ffff;
}

.selection__food {
  font-family: Oswald, "Arial", sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-transform: uppercase;
  text-align: center;
  color: #ffff;
}

