.selection {
  background-color: #63a73a;
}

.selection__button {
  text-transform: uppercase;
  padding: 15px 55px;
  margin-left: 20px;
}

.selection__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 500;
  line-height: 1.13;
  text-align: center;
  margin: 0;
  padding-top: 15px;
  color: #ffffff;
}

.selection__food {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

@media (min-width: 740px) {
  .selection {
    width: 450px;
    background-color: #ffffff;
  }

  .selection__title {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 60px;
    line-height: 60px;
    text-transform: none;
    text-align: center;
    color: #111111;
    padding-top: 29px;
    padding-left: 110px;
  }

  .selection__food {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
    color: #111111;
  }

  .selection__button {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    padding: 20px 30px;
    color: #ffffff;
  }
}
