.site-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.site__list__link {
  display: block;
  padding: 25px 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}

@media (min-width: 740px) {
  .site__list__link {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    color: #222222;
  }
}

@media (min-width: 1400px) {
  .site__list__link {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    color: blue;
  }
}
